.booking {
  color: #ccc;
  width: fit-content;
  margin: auto;
  margin-top: 25px;
  position: relative;
}
.booking-container {
  background-color: #003580;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking-info {
  position: absolute;
  bottom: 55px;
  left: -20px;
  transform: rotate(-90deg);
  transform-origin: 20px 20px;
  color: #333;
}

.booking-container > h1 {
  color: whitesmoke;
}
.booking-userDetails {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  min-width: 350px;
}
.booking-userDetails > h2 {
  text-align: center;
}
#booking-username {
  color: white;
  font-weight: 800;
}
.booking-hotelDetails {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 20px;
  min-width: 350px;
}
.booking-hotelDetails > h2 {
  text-align: center;
}
.booking-hotelDetails > h4 > span {
  color: white;
  font-weight: 800;
}
.booking-roomDetails {
  display: flex;
}
.booking-roomDetails > p {
  margin-right: 10px;
}
.booking-roomNumbers {
  display: flex;
}
.booking-roomNumbers > p {
  margin-right: 10px;
  color: white;
}
.booking-bookedDates {
  display: flex;
}
.booking-bookedDates > p {
  margin-right: 10px;
  color: white;
  font-weight: 800;
}
.booking-thanks {
  color: #333;
  text-align: center;
}
